<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" />
    <title>Poke Info</title>
  </head>
  <body>
    <!-- Title -->
    <a id="title" href="/">Poke Info</a>
    <!-- Main container -->
    <div id="dataDiv">
      <form id="myForm">
        <label for="search"></label>
        <input
          type="text"
          id="search"
          name="pokemonName"
          placeholder="Enter Pokemon"
        />
        <input type="submit" value="Search" />
      </form>
    </div>
    {{{body}}}
  </body>
  <script src="/index.js"></script>
</html>