<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" />
    <title>Poke Info</title>
  </head>
  <body>
    <!-- Title -->
    <div id="titleBox">
      <a id="title" href="/">Poke Info</a>
    </div>
    <!-- search container -->
    <div id="dataSearch">
      <form id="myForm">
        <label for="pokemonName"></label>
        <input
          type="text"
          id="pokemonName"
          results="5"
          name="pokemonName"
          placeholder="Search Pokemon..."
        />
        <input type="submit" value="Search" id="submit" />
      </form>
    </div>
    {{{body}}}
  </body>
  <script src="/index.js"></script>
</html>